

%overlay1{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b86e5a+0,623f35+26,603b33+27,57392f+29,583730+29,52372d+30,52342d+30,4f352d+31,51332b+32,4b322a+32,4d302b+33,483129+33,4a2f2a+34,493127+34,462e27+34,482f28+34,452f29+35,462d26+35,452e27+35,412e27+35,422b28+35,432c25+36,412d26+36,3f2a26+36,412b24+36,3d2b24+37,3e2c24+37,3e2824+37,3c2925+37,3e2b23+37,3a2723+38,3c2824+38,392824+38,3a2921+38,3a2521+38,3b2621+38,362621+39,382723+39,352823+39,36241f+39,342621+40,352222+40,31221d+40,33241f+41,2f241f+41,302020+41,312121+41,31211b+41,2c211c+41,2e231d+42,2f1e1e+42,2b1e1e+42,2c1f1f+42,2c1f19+43,2d201a+43,27211a+43,28221b+43,281b1b+43,2b1c1c+44,241d1d+44,251e1e+44,251e17+44,282018+44,281818+44,291919+44,211919+45,261c1c+45,1d1d14+45,1d1d14+46,1f1414+46,241818+46,181818+47,1c1c1c+47,1c1c0e+47,1e1e0f+47,1e0f0f+47,221111+48,121212+48,141414+48,121212+48,111111+49,201010+49,1c0e0e+50,1c1c0e+50,1b1b0d+50,1b1b1b+50,141414+52,141414+53,1d1414+53,1a1111+54,1a1111+55,191910+55,181810+55,181818+55,151515+57,1c1515+57,181212+59,181212+59,181812+59,171711+60,171717+60,161616+60,1c1616+60,171313+64,171713+64,171712+64,1b1612+65,1a1616+65,171313+68,1b1313+68,1b1713+68,1a1612+69,191616+70,171414+72,1a1414+72,1a1313+72,1a1713+73,191612+74,191616+74,181513+78,1a1515+79,181613+82,1a1515+84,191614+100&1+0,0.05+48,0.6+100 */
  background: -moz-linear-gradient(top,  rgba(184,110,90,1) 0%, rgba(98,63,53,0.49) 26%, rgba(96,59,51,0.47) 27%, rgba(88,55,48,0.43) 29%, rgba(82,52,45,0.41) 30%, rgba(79,53,45,0.39) 31%, rgba(75,50,42,0.37) 32%, rgba(72,49,41,0.35) 33%, rgba(72,47,40,0.33) 34%, rgba(66,43,40,0.31) 35%, rgba(65,43,36,0.29) 36%, rgba(62,43,35,0.27) 37%, rgba(59,38,33,0.25) 38%, rgba(54,36,31,0.23) 39%, rgba(49,34,29,0.21) 40%, rgba(44,33,28,0.19) 41%, rgba(44,31,31,0.17) 42%, rgba(40,27,27,0.15) 43%, rgba(41,25,25,0.13) 44%, rgba(29,29,20,0.11) 45%, rgba(36,24,24,0.09) 46%, rgba(30,15,15,0.07) 47%, rgba(18,18,18,0.05) 48%, rgba(32,16,16,0.06) 49%, rgba(27,27,27,0.07) 50%, rgba(20,20,20,0.09) 52%, rgba(29,20,20,0.1) 53%, rgba(26,17,17,0.11) 54%, rgba(24,24,24,0.12) 55%, rgba(28,21,21,0.14) 57%, rgba(24,24,18,0.16) 59%, rgba(28,22,22,0.17) 60%, rgba(23,23,18,0.21) 64%, rgba(26,22,22,0.22) 65%, rgba(27,23,19,0.25) 68%, rgba(26,22,18,0.26) 69%, rgba(25,22,22,0.27) 70%, rgba(26,19,19,0.29) 72%, rgba(26,23,19,0.3) 73%, rgba(25,22,22,0.31) 74%, rgba(24,21,19,0.35) 78%, rgba(26,21,21,0.36) 79%, rgba(24,22,19,0.39) 82%, rgba(26,21,21,0.41) 84%, rgba(25,22,20,0.6) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(184,110,90,1) 0%,rgba(98,63,53,0.49) 26%,rgba(96,59,51,0.47) 27%,rgba(88,55,48,0.43) 29%,rgba(82,52,45,0.41) 30%,rgba(79,53,45,0.39) 31%,rgba(75,50,42,0.37) 32%,rgba(72,49,41,0.35) 33%,rgba(72,47,40,0.33) 34%,rgba(66,43,40,0.31) 35%,rgba(65,43,36,0.29) 36%,rgba(62,43,35,0.27) 37%,rgba(59,38,33,0.25) 38%,rgba(54,36,31,0.23) 39%,rgba(49,34,29,0.21) 40%,rgba(44,33,28,0.19) 41%,rgba(44,31,31,0.17) 42%,rgba(40,27,27,0.15) 43%,rgba(41,25,25,0.13) 44%,rgba(29,29,20,0.11) 45%,rgba(36,24,24,0.09) 46%,rgba(30,15,15,0.07) 47%,rgba(18,18,18,0.05) 48%,rgba(32,16,16,0.06) 49%,rgba(27,27,27,0.07) 50%,rgba(20,20,20,0.09) 52%,rgba(29,20,20,0.1) 53%,rgba(26,17,17,0.11) 54%,rgba(24,24,24,0.12) 55%,rgba(28,21,21,0.14) 57%,rgba(24,24,18,0.16) 59%,rgba(28,22,22,0.17) 60%,rgba(23,23,18,0.21) 64%,rgba(26,22,22,0.22) 65%,rgba(27,23,19,0.25) 68%,rgba(26,22,18,0.26) 69%,rgba(25,22,22,0.27) 70%,rgba(26,19,19,0.29) 72%,rgba(26,23,19,0.3) 73%,rgba(25,22,22,0.31) 74%,rgba(24,21,19,0.35) 78%,rgba(26,21,21,0.36) 79%,rgba(24,22,19,0.39) 82%,rgba(26,21,21,0.41) 84%,rgba(25,22,20,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(184,110,90,1) 0%,rgba(98,63,53,0.49) 26%,rgba(96,59,51,0.47) 27%,rgba(88,55,48,0.43) 29%,rgba(82,52,45,0.41) 30%,rgba(79,53,45,0.39) 31%,rgba(75,50,42,0.37) 32%,rgba(72,49,41,0.35) 33%,rgba(72,47,40,0.33) 34%,rgba(66,43,40,0.31) 35%,rgba(65,43,36,0.29) 36%,rgba(62,43,35,0.27) 37%,rgba(59,38,33,0.25) 38%,rgba(54,36,31,0.23) 39%,rgba(49,34,29,0.21) 40%,rgba(44,33,28,0.19) 41%,rgba(44,31,31,0.17) 42%,rgba(40,27,27,0.15) 43%,rgba(41,25,25,0.13) 44%,rgba(29,29,20,0.11) 45%,rgba(36,24,24,0.09) 46%,rgba(30,15,15,0.07) 47%,rgba(18,18,18,0.05) 48%,rgba(32,16,16,0.06) 49%,rgba(27,27,27,0.07) 50%,rgba(20,20,20,0.09) 52%,rgba(29,20,20,0.1) 53%,rgba(26,17,17,0.11) 54%,rgba(24,24,24,0.12) 55%,rgba(28,21,21,0.14) 57%,rgba(24,24,18,0.16) 59%,rgba(28,22,22,0.17) 60%,rgba(23,23,18,0.21) 64%,rgba(26,22,22,0.22) 65%,rgba(27,23,19,0.25) 68%,rgba(26,22,18,0.26) 69%,rgba(25,22,22,0.27) 70%,rgba(26,19,19,0.29) 72%,rgba(26,23,19,0.3) 73%,rgba(25,22,22,0.31) 74%,rgba(24,21,19,0.35) 78%,rgba(26,21,21,0.36) 79%,rgba(24,22,19,0.39) 82%,rgba(26,21,21,0.41) 84%,rgba(25,22,20,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b86e5a', endColorstr='#99191614',GradientType=0 ); /* IE6-9 */
}
%overlay2{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+0,ff8a7a+0,ffc99e+99,ffc99e+100 */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 0%, #ff8a7a 0%, #ffc99e 99%, #ffc99e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 0%,#ff8a7a 0%,#ffc99e 99%,#ffc99e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 0%,#ff8a7a 0%,#ffc99e 99%,#ffc99e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#ffc99e',GradientType=0 ); /* IE6-9 */

}

%btn_gradient{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff4495+0,ff6d6d+100,7db9e8+100 */
  background: #ff4495; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff4495 0%, #ff6d6d 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff4495 0%,#ff6d6d 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff4495 0%,#ff6d6d 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4495', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */


}

%btn_gradient2{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,ff6d6d+0,ff4495+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(top,  #7db9e8 0%, #ff6d6d 0%, #ff4495 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#ff6d6d 0%,#ff4495 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7db9e8 0%,#ff6d6d 0%,#ff4495 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#ff4495',GradientType=0 ); /* IE6-9 */
}
  
// Home Page Gradient

%gradient_team{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#021a47+0,021a47+100&0+0,0.6+100 */
    background: -moz-linear-gradient(top,  rgba(2,26,71,0) 0%, rgba(2,26,71,0.6) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(2,26,71,0) 0%,rgba(2,26,71,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(2,26,71,0) 0%,rgba(2,26,71,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00021a47', endColorstr='#99021a47',GradientType=0 ); /* IE6-9 */
}

%gallery{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#292621+0,292621+100&0+0,1+100 */
  background: -moz-linear-gradient(top,  rgba(41,38,33,0) 0%, rgba(41,38,33,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(41,38,33,0) 0%,rgba(41,38,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(41,38,33,0) 0%,rgba(41,38,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00292621', endColorstr='#292621',GradientType=0 ); /* IE6-9 */

}

%btn-bgs{
  background-image: -moz-linear-gradient( 0deg, rgb(13,67,182) 0%, rgb(15,102,248) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(13,67,182) 0%, rgb(15,102,248) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(13,67,182) 0%, rgb(15,102,248) 100%);
}


// &::before{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   bottom: 0;
//   content: "";
//   @extend %overlay1;

// }
