.wantToWork-area{
    background: #041735;
    .wantToWork-caption{
        h2{
            font-size: 40px;
            font-weight: 400;
            line-height: 1.5;
            margin-bottom: 12px;
            color: #fff;

            @media #{$md}{
                font-size: 25px; 
            }
            @media #{$sm}{
                font-size: 35px; 
            }
            @media #{$xs}{
                font-size: 25px; 
            }
        } 
        p{
            font-size: 18px;
            margin-bottom: 0;
            color: #DEDEDE;
        }
    }    
    .wantToWork-btn{

        @media #{$sm}{
            float: left;
            margin-top: 30px;
        }
        @media #{$xs}{
            float: left;
            margin-top: 30px;
        }
        @media #{$md}{
            // float: left;
            margin-top: 30px;
        }
    }
}
.sm-left{
    @media #{$xs}{
        float: left;
        margin-top: 30px;
    } 
    @media #{$sm}{
        float: left;
        margin-top: 30px;
    } 
}
.btn.w-btn {
	padding: 18px 65px 18px 33px;
}
.double-btn.f-right {
    @media #{$sm}{
        float: left;
    } 
    @media #{$xs}{
        float: left;
    } 
	
}

.wantToWork-btn img {
	margin-right: 9px;
}

.wants-wrapper {
    @include flexbox();
    blockquote {
        margin-right: 30px;
    }
}

.wantToWork-area {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}